<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zybooks.loginregisterseniorproj" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginRegisterSeniorProj" >
        <activity
            android:name=".AccountUserExpense"
            android:exported="false" />
        <activity
            android:name=".AccountUserIncome"
            android:exported="false" />
        <activity
            android:name=".GetExpenseData"
            android:exported="false" />
        <activity
            android:name=".FamilyUserExpense"
            android:exported="false" />
        <activity
            android:name=".FamilyUserIncome"
            android:exported="false" />
        <activity
            android:name=".FamilyMemberMainMenu"
            android:exported="false" />
        <activity
            android:name=".ViewCurrentFamilyMembers"
            android:exported="false" />
        <activity
            android:name=".AddFamilyMember"
            android:exported="false" />
        <activity
            android:name=".SetBudgetActivity"
            android:exported="false" />
        <activity
            android:name=".Budgeting"
            android:exported="false" />
        <activity
            android:name=".DailyCalendarActivity"
            android:exported="false" />
        <activity
            android:name=".WeekViewActivity"
            android:exported="false" />
        <activity
            android:name=".EventEditActivity"
            android:exported="false" />
        <activity
            android:name=".Calender"
            android:exported="false" />
        <activity
            android:name=".TextReport"
            android:exported="false" />
        <activity
            android:name=".MonthlyReport"
            android:exported="false" />
        <activity
            android:name=".UserStockWallet"
            android:exported="false" />
        <activity
            android:name=".UserCryptoWallet"
            android:exported="false" />
        <activity
            android:name=".Wallets"
            android:exported="false" />
        <activity
            android:name=".ShowCryptoCurrencies"
            android:exported="false" />
        <activity
            android:name=".CryptoCurrencyInformation"
            android:exported="false" />
        <activity
            android:name=".CryptoMarket"
            android:exported="false" />
        <activity
            android:name=".WeeklyInExp"
            android:exported="false" />
        <activity
            android:name=".WeeklyBarChart"
            android:exported="false" />
        <activity
            android:name=".PieChartExpense"
            android:exported="false" />
        <activity
            android:name=".MonthlyPieCalc"
            android:exported="false" />
        <activity
            android:name=".ReportingMain"
            android:exported="false" />
        <activity
            android:name=".ShowCurrencyInformations"
            android:exported="false" />
        <activity
            android:name=".CryptoTransactions"
            android:exported="false" />
        <activity
            android:name=".CryptoWallet"
            android:exported="false" />
        <activity
            android:name=".ShowCompanies"
            android:exported="false" />
        <activity
            android:name=".CryptoTransactionsList"
            android:exported="false" />
        <activity
            android:name=".CompanyStockInformation"
            android:exported="false" />
        <activity
            android:name=".StockMarket"
            android:exported="false" />
        <activity
            android:name=".Crypto"
            android:exported="false" />
        <activity
            android:name=".UserMainMenu"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/SplashTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>